@font-face {
  font-family: HappyNewYear;
  src: url(/fonts/A.ChausettesdeNoel.Alen.Rus.woff);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: HappyNewYear;
  color: white;
}

body {
  background: url(/images/bg/NY-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: HappyNewYear;
  color: white;

}

.bg-container {
  width: 100%;
  height: 100%;
  background: rgba(110, 110, 110, 0.3);
}

.container {
  max-width: 1920px;
  padding-bottom: 100px;
  margin: 0 auto;
  position: relative;
}

.settings-button {
  font-size: 70px;
  cursor: pointer;
  transition: 0.5s all;
  width: 400px;
  height: 90px;
  padding-top: 15px;
  padding-left: 20px;
}

.settings-button:hover {
  font-size: 75px;
}

.settings {
  background: white;
  text-align: center;
  width: 1300px;
  min-height: 700px;
  margin: 0 auto;
  border-radius: 4%;
  position: fixed;
  z-index: 2;
  top: 16%;
  left: 15%;
}

.settings-display {
  display: none;
}



.settings li {
  height: 120px;
}

.settings a {
  font-size: 70px;
  letter-spacing: -5px;
  line-height: 1.6em;
  color: #B22222;
  transition: 0.5s all;
}

.settings a:hover {
  font-size: 75px;
}



ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}

.slider li {
  width: 900px;
  height: 600px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}


img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 3%
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .2
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .2
  }

  to {
    opacity: 1
  }
}



.slider_wrapper {
  width: 900px;
  margin: 0 auto;
  position: relative;
  padding-top: 70px;

}

.slider {
  width: 100%;
  position: relative;
  transition: 1.5s margin;
}

.big-photo {
  height: 550px;
  display: none;
}




.prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 96.2%;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

.prev:hover {
  background: rgba(0, 0, 0, 0.4);
}

.prev:hover .arrow_left {
  opacity: 1;
}

.arrow_left {
  width: 30px;
  height: 30px;
  background: url(../icons/left-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  opacity: .4;
  transition: 1s;
}


.next {
  position: absolute;
  top: 0;
  left: 831px;
  width: 70px;
  height: 96.2%;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.arrow_right {
  width: 30px;
  height: 30px;
  background: url(../icons/right-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  opacity: .4;
  transition: 1s;

}

.next:hover {
  background: rgba(0, 0, 0, 0.4);
}

.next:hover .arrow_right {
  opacity: 1;
}

.slider_dots {
  display: flex;
  justify-content: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.4s;

}

.dot-active {
  background: rgba(0, 0, 0, 0.9);
}

.dot:hover {
  background: rgba(0, 0, 0, 0.4);
}